@import url('reset.css');
@import url('global.css');

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  background-color: aqua;
}

.s-wrapper .s-left-column {
  height: 100%;
  width: 100px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.s-wrapper .s-main-content {
  height: 100%;
  width: 100%;
  background-color: gray;
  padding-left: 30px;
}

.navigator {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*background-color: blue;*/
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child {
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  height: 45px;
  width: 45px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator::before {
  height: 100%;
  width: 2px;
  content: '';
  position: absolute;
  top: 0px;
  background-color: white;
  z-index: 0;
}

.navigator ul {
  z-index: 1;
}

.navigator ul li a:hover, .navigator ul li a.active {
  color: var(--primary-color);
  background-color: white;
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
}